.header-1 {
    font-family: 'Nunito', sans-serif;
}

img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn btn-primary {
    background-color: #313131;
}

#chartViews {
    list-style: none;
    text-align: center;
}
#chartViews li{
    display: inline;
}

#chartViews a{
    display: inline-block;
    padding: 20px;
}

#currentPrice  {
    height: 105px;
    text-align: center;
}

.currentPriceElem  {
    display: inline;
    padding: 35px;
}

#please {
    text-align: center;
}

#head {
    text-align: center;
}

.stkFav {
    text-align: center;
}

