<header class="header-1">
    <div class="branding">
        <a class="nav-link">
            <img src="src/app/images/b-logo.jpg">
            <span class="title">Bloomberg Stock Lookup</span>
        </a>
    </div>
    <form class="search">
        <label for="search_input" (click)="searchSymbol()"></label>
        <input id="searchInput" (keyup.enter)="searchSymbol()" type="text" name="symbol" size="25" placeholder="Search by symbol..." [(ngModel)]="symbol">
    </form>
    <div class="header-actions">
        <a href="/login" class="nav-link nav-text" (click)="logout()">
            Log Out
        </a>
    </div>
</header>
<div class="row">
    <div class="col-xs-2">
        <h3 class="head">Favorites</h3>
        <h4 class="stkFav" *ngFor="let stk of favArr"><a (click)="selectFavorite(stk.stock)" id="{{stk.stock}}">{{stk.stock}}</a></h4>
    </div>
    <div class="col-xs-6">
        <h3 *ngIf="loading()" class="please">Loading.....</h3>
        <h3 *ngIf="!loading() && !symbolClicked" class="please">Please select a stock symbol</h3>
        <span>
            <div id="currentPrice" *ngIf="symbolClicked && !loading()">
                <h4 class="currentPriceElem" *ngIf="symbolSaved">{{symbolSaved.toUpperCase()}}</h4>
                <h2 class="currentPriceElem">{{price}}</h2>
                <h3 class="currentPriceElem">{{percentChange}}</h3><br>
                <button class="btn btn-outline" (click)="addToFav()" *ngIf="!isFavorite()">Add to Favorites</button>
                <button class="btn btn-outline" (click)="removeFromFav()" *ngIf="isFavorite()">Remove from Favorites</button>
            </div>
        </span>
        <div id="chartView" *ngIf="symbolClicked && !loading()">
            <span>
                <ul id="chartViews">
                    <li><a (click)="dayView()">1D</a></li>
                    <li><a (click)="weekView()">1W</a></li>
                    <li><a (click)="threeMonthView()">3M</a></li>
                    <li><a (click)="sixMonthView()">6M</a></li>
                    <li><a (click)="yearView()">1Y</a></li>
                    <li><a (click)="fiveYearView()">5Y</a></li>
                </ul>
            </span>
            <canvas baseChart width="750px" height="450px" *ngIf="symbolClicked"
                    [data]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [chartType]="lineChartType"></canvas>
        </div>
    </div>
    <div class="col-xs-4">
        <div id="cryptoView">
            <h3 class="head">Cryptocurrency</h3>
                <div class="cryptos"*ngFor="let crypto of this.cryptos">
                    <h4>{{crypto.name}}</h4>
                    <h4 class="cryptoPrice">{{crypto.price}}</h4>
                </div>
        </div>
    </div>
</div>
