<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!--<app-navbar></app-navbar>-->
<!--<div class="row">-->
<!--    <div class="col-xs-3">-->
<!--        <span></span>-->
<!--    </div>-->
<!--    <div class="col-xs-6">-->
<!--        <span><app-current-price></app-current-price></span>-->
<!--        <span><app-charts></app-charts></span>-->
<!--    </div>-->
<!--    <div class="col-xs-3">-->
<!--        <span>4</span>-->
<!--    </div>-->
<!--</div>-->